p {
  margin: 0;
}


input,
select {
  width: 45%;
  display: inline;
  height: 1.75em;
}

.error {
  text-align: right;
  color: red;
}

#raw {
  background-color: lightgrey;
}

.time {
  font-size: smaller;
  margin-left: 3em;
}

#page {
  margin: 12em 0;
  max-width: 95vw;
}

p {
  margin: 1em 0;
  line-height: 1.5em;
}