@import "reset.scss";
@import "layout.scss";

body {
  background-color: rgb(26, 101, 103);
  color: rgb(139, 232, 249)
}

h1 {
  color: aqua;
}

li {
  margin-bottom: 5px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  color: black;
  height: 2em;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  color: black;
}

button:hover {
  background-color: yellow;
}

ul,
li {
  list-style-type: disc;
  margin: 0;
}

.sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50vw;
}

.try {
  background: salmon;
}


div.query-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;

  .status {

    color: white;
  }
}

a {
  background: orange;
  padding: 3px;
  color: black;
}

a:hover {
  background: rgba(0, 255, 0, 0.431);
  color: rgb(251, 234, 102);
}

pre {
  color: black;
  height: 30em;
}