/* styles */
/* called by your view template */
* {
  box-sizing: border-box; }

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em; }

.bold {
  font-weight: bold; }

p {
  max-width: 600px; }

button:active {
  box-shadow: none; }

p {
  margin: 0; }

input,
select {
  width: 45%;
  display: inline;
  height: 1.75em; }

.error {
  text-align: right;
  color: red; }

#raw {
  background-color: lightgrey; }

.time {
  font-size: smaller;
  margin-left: 3em; }

#page {
  margin: 12em 0;
  max-width: 95vw; }

p {
  margin: 1em 0;
  line-height: 1.5em; }

body {
  background-color: #1a6567;
  color: #8be8f9; }

h1 {
  color: aqua; }

li {
  margin-bottom: 5px; }

form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px; }

input {
  color: black;
  height: 2em;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px; }

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  color: black; }

button:hover {
  background-color: yellow; }

ul,
li {
  list-style-type: disc;
  margin: 0; }

.sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50vw; }

.try {
  background: salmon; }

div.query-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1em; }
  div.query-status .status {
    color: white; }

a {
  background: orange;
  padding: 3px;
  color: black; }

a:hover {
  background: rgba(0, 255, 0, 0.431);
  color: #fbea66; }

pre {
  color: black;
  height: 30em; }
